
h1 {
  text-align: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.content {
  display: flex;
  padding: 5px 25px;
  width:50%;
  max-width: 600px;
  flex-direction: column;
  background-color: #F0314F;
  border-radius: 20px;
  color: #fff;
}

.label {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.info {
  font-weight: 100;
  margin: 0;
  font-size: 20px;
  margin-bottom: 30px;
  color: #ffffff;
}
